h2{
	background-color:black;
	}
h2{
	font-size:40px;
	}
h2{
	color:white;
	}
h5{
	font-size:25px;
	}
	
h4{
	background-color:black;
	}
h4{
	font-size:5px;
	}
h4{
	color:white;
	}	
	
table{
	font-size:35px;
}